<!-- Content sourced from http://getbootstrap.com/css/#forms -->
<form>
    <div class="form-group">
        <label for="exampleInputEmail1" class="control-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="control-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputFile" class="control-label">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example: Block-level help text here.</p>
    </div>
    <div class="form-group">
        <label class="control-label">
            <input type="radio" name="form1-radio"> Option 1
        </label>
        <label class="control-label">
            <input type="radio" name="form1-radio"> Option 2
        </label>
    </div>
    <div class="form-group">
        <label class="control-label">
            <input type="checkbox"> Check me out
        </label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Cancel</button>
    </div>
</form>
<h3>Form with errors</h3>
<form class="has-errors">
    <div class="form-group has-error has-feedback">
        <label for="exampleInputEmail1" class="control-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group has-error has-feedback">
        <label for="exampleInputPassword1" class="control-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group has-error has-feedback">
        <label for="exampleInputFile" class="control-label">File input</label>
        <input type="file" id="exampleInputFile">
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="form-group has-error has-feedback">
        <label class="control-label">
            <input type="radio" name="form2-radio"> Option 1
        </label>
        <label class="control-label">
            <input type="radio" name="form2-radio"> Option 2
        </label>
        <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="form-group has-error">
        <label class="control-label">
            <input type="checkbox"> Check me out
        </label>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-default">Cancel</button>
    </div>
</form>
<h3>Inline checkboxes</h3>
<form>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
    </label>
</form>